@model WhatToDo.Models.Todo

@{
    ViewData["Title"] = "Create";
}

<h1>Create Todo</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TodoList" class="control-label"></label>
                <input asp-for="TodoList" class="form-control" />
                <span asp-validation-for="TodoList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-outline-info">
        <i class="bi bi-arrow-return-left"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
